[submodule "third_party/neural-amp-modeler"]
	path = third_party/neural-amp-modeler
	url = https://github.com/sdatkinson/neural-amp-modeler.git
[submodule "third_party/NeuralAmpModelerCore"]
	path = third_party/NeuralAmpModelerCore
	url = https://github.com/sdatkinson/NeuralAmpModelerCore.git
[submodule "third_party/Automated-GuitarAmpModelling"]
	path = third_party/Automated-GuitarAmpModelling
	url = https://github.com/Alec-Wright/Automated-GuitarAmpModelling.git
[submodule "third_party/nablafx"]
	path = third_party/nablafx
	url = https://github.com/mcomunita/nablafx.git
[submodule "third_party/auraloss"]
	path = third_party/auraloss
	url = https://github.com/csteinmetz1/auraloss.git
[submodule "third_party/JUCE"]
	path = third_party/JUCE
	url = https://github.com/juce-framework/JUCE
